* {
  padding: 0;
  margin: 0;
}
body{
/* background-image: url('https://images.unsplash.com/photo-1510575188413-04020c9623d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2765&q=80'); */
/* background-image: url('https://images.unsplash.com/photo-1565252556332-4b297517b501?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2787&q=80'); */
background-image: url('https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-clip: inherit;
height: 100vh;
}
